/*Quitando margin y padding por defecto*/
*{
    margin: 0;
    padding: 0;
}

img{
    width: 360px;
}

header{
    background-color: rgb(145, 255, 0);
    margin:1px; /*Espacio exterior*/
    text-align: center;
}

nav{
    background-color: rgb(255, 53, 87);
    text-align: center; /*Alienar al centro texto*/
    border:3px black ridge; /*Crea un borde*/
}

#¿Qué-es-el-Squad-2{
    background-color: rgb(249, 170, 170);

}

#Trabajos-hechos{
    background-color: rgb(178, 178, 255);
    padding:10px; /*Espacio interior*/
}

#Modulos-dentro-del-curso{
    background-color: rgb(255, 232, 178);
    border:5px black groove;
}

#Integrantes-del-Squad{
    background-color: rgb(255, 178, 193);
}